//
$font-family-base: "PingFang SC", miui, system-ui, -apple-system,
    BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif !important;

$font-weight-base: normal;

// link
$link-color: #007bff;
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline;

$bg-color: #fff;
